      .text_container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-rows: 100px;
        /* grid-auto-rows: minmax(100px, auto); */
        grid-gap: .5em;

  /* -- default is stretch, start, center, end stretch -- */
  /* justify = columns/horizontal, align = rows/vertical */
        justify-items: stretch;
        align-items: stretch; 
  
      }
  /* these will override the parent control */
      .text1 {
        /* align-self: start; */
      }
      .text2 {
        /* align-self: center; */
      }
      .text3 {
        /* align-self: end; */
      }
      .text4 {
        /* justify-self: start; */
          
      }
      .text5 {
        /* justify-self: center; */
      
      }
      .text6 {
        /* justify-self: end; */
      }